/* 覆盖Ant Design Mobile css变量以及自定义css变量 */
:root {
  --color-primary: #fbbf24;
  --color-border: #c8c8c8;
  --color-link: #3086ff;
  --color-weak: #999;
  --color-text-0: #333;
  --color-text-1: #666;
  --color-text-2: #999;
  --color-background-0: #fff;
  --color-background-1: #eee;
  --color-background-2: #fcd34d;
  --color-background-3: #fde68a;
  --color-light: #f59e0b;
  --color-white: #fff;
  --color-black: #000;
  --color-shadow: rgb(0 0 0 / 20%);
  --color-tint-0: #f5f3ff;
  --color-tint-1: #eff6ff;
  --adm-color-primary: #fbbf24;

  &[theme="dark"] {
    --color-primary: #d97706;
    --color-border: #636363;
    --color-link: #1d4ed8;
    --color-weak: #444;
    --color-text-0: #ccc;
    --color-text-1: #999;
    --color-text-2: #666;
    --color-background-0: #1a1a1a;
    --color-background-1: #2e2e2e;
    --color-background-2: #2e2e2e;
    --color-background-3: #2e2e2e;
    --color-light: #fde68a;
    --color-white: #ddd;
    --color-black: #000;
    --color-shadow: rgb(85 85 85 / 20%);
    --color-tint-0: #111827;
    --color-tint-1: #374151;
    --adm-color-primary: #d97706;
    --adm-color-text: #e6e6e6;
    --adm-color-border: #636363;
    --adm-color-background: #1a1a1a;
    --adm-color-white: #ddd;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-background-0);
  color: var(--color-text-0);
  font-size: 14px;
  transition: background-color 0.2s;
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.mask-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
}

.button {
  cursor: pointer;
  user-select: none;
}

.link {
  color: var(--color-link);
  cursor: pointer;
}
